<div class="shop-item {{class}} sorath-hover-view" data-cursor-text="View More">
    <div class="shop-thumb">
        <div class="overlay"></div>
        <img src="{{img}}" alt="{{title}}">
        <img class="is-flip" src="{{img2}}" alt="">
        <ul class="shop-list">
            <li><a href="#"><i class="fa-regular fa-cart-shopping"></i></a></li>
            <li><a href="wishlist.html" aria-label="Wishlist"><i class="fa-light fa-heart"></i></a></li>
        </ul>
    </div>
    <div class="shop-content">
        <h3 class="title"><a href="shop-details.html" class="stretched-link">{{title}}</a></h3>
        <div class="review-wrap">
            <ul class="review">
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
                <li><i class="fa-solid fa-star"></i></li>
            </ul>
        </div>
        <div class="product-meta">
            <span class="price">{{price}}</span>
            <span class="product-size"><i class="fa-solid fa-ruler-combined" aria-hidden="true"></i>{{size}}</span>
        </div>
    </div>
</div>
<script>
document.querySelectorAll(".shop-thumb img.is-flip:not([src]), .shop-thumb img.is-flip[src='']").forEach(function (img) {
    var front = img.previousElementSibling;
    if (!front) return;
    img.src = (front.getAttribute("src") || "").replace(/shop-(\d+)/, function (_, n) {
        return "shop-" + ((+n % 9) + 1);
    });
});
</script>
