<section class="blog-section pb-100 fade-wrapper">
    <div class="container container-2">
        <div class="section-heading">
            <h2 class="section-title title-2">Related Posts</h2>
        </div>
        <div class="row gy-5">
            <div class="col-lg-4 col-md-6 fade-top"><div data-include="component/blog/card.html" data-img="assets/img/blog/post-1.jpg" data-category="exteriors" data-date="Dec 25, 2025" data-title="Four Ways for Creating Extra Space in Small Homes"></div></div>
            <div class="col-lg-4 col-md-6 fade-top"><div data-include="component/blog/card.html" data-img="assets/img/blog/post-3.png" data-category="exteriors" data-date="Dec 25, 2025" data-title="Maximize Your Minimalist Space With Smart Solutions"></div></div>
            <div class="col-lg-4 col-md-6 fade-top"><div data-include="component/blog/card.html" data-img="assets/img/blog/post-5.png" data-category="exteriors" data-date="Dec 25, 2025" data-title="Transform Your Home With the Modern Interior Design Tips"></div></div>
        </div>
    </div>
</section>
