<div class="post-card sorath-hover-view" data-cursor-text="View Blog">
    <div class="post-thumb">
        <img src="{{img}}" alt="{{title}}">
        <span class="category">{{category}}</span>
    </div>
    <div class="post-content">
        <ul class="post-meta">
            <li>{{date}}</li>
            <li>By <span>Admin</span></li>
        </ul>
        <h3 class="title"><a href="blog-detail.html" class="stretched-link">{{title}}</a></h3>
        <p>Modest, recently established interior design company that seeks to address a variety of topics, including…</p>
    </div>
</div>
