<section class="shop-section single pt-100 pb-100">
    <div class="container container-2">
        <div class="row">
            <div class="col-lg-6 product-details-wrap">
                <div class="product-details-img">
                    <img src="assets/img/shop/shop-img-1.png" alt="shop">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details">
                    <div class="product-info">
                        <div class="product-inner">
                            <span class="category">Save -20%</span>
                            <h3 class="title">Modern Caramel Fabric Sofa</h3>
                            <div class="rating-wrap">
                                <span class="review">
                                    <ul class="rating">
                                        <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                        <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                        <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                        <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                        <li><i class="fa-sharp fa-solid fa-star"></i></li>
                                    </ul>
                                    ( 3 Reviews )
                                </span>
                                <span class="stock"><i class="fa-regular fa-check"></i> In Stock</span>
                            </div>
                            <h4 class="price">$260.00 <span>$360.00</span></h4>
                            <p class="pricing-desc">Rivuline, ling aholehole; Oregon chub cookie-cutter shark plunderfish–featherfin knifefish, emperor angelfish. Pearl danio mullet icefish ghost fish megamouth shark. Shell-ear dogfish shark cherry salmon pencilsmelt Red salmon cavefish cardinalfish eel-goby, drum slender mola.</p>
                        </div>
                        <div class="pd-actions">
                            <a href="#" class="pd-btn pd-btn-outline"><i class="fa-regular fa-cart-shopping"></i>Add To Cart</a>
                            <a href="#" class="pd-btn pd-btn-fill"><i class="fa-regular fa-bolt"></i>Buy Now</a>
                        </div>
                        <a href="#" class="pd-wishlist"><i class="fa-regular fa-heart"></i>Add to wishlist</a>
                        <ul class="pd-info">
                            <li><span>Categories</span>Industry, Engineering</li>
                            <li><span>Tags</span>Factory, Industry</li>
                            <li><span>SKU</span>68</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
