<div class="gallary-section overflow-hidden">
    <div class="container container-2">
        <div class="row section-heading-wrap">
            <div class="shape"><img src="assets/img/shapes/section-heading.png" alt="shape"></div>
            <div class="col-lg-4 col-md-12">
                <div class="section-heading mb-0">
                    <h4 class="sub-heading" data-text-animation="fade-in-right" data-split="char" data-duration="0.9" data-stagger="0.03">Our gallery</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="section-heading section-heading-2 mb-0">
                    <h2 class="section-title title-2">Explore <span>our latest <br> interior</span> work</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="gallary-wrap wrap-1">
        <div class="gallery-scroll-wrap">
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/blog-details-img.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/blog-details-img.png" alt="Gallery image"></a>
            </div>
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/post-4.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/post-4.png" alt="Gallery image"></a>
            </div>
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/post-1.jpg" class="venobox" data-gall="gallary1"><img src="assets/img/blog/post-1.jpg" alt="Gallery image"></a>
            </div>
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/post-2.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/post-2.png" alt="Gallery image"></a>
            </div>
        </div>
    </div>
    <div class="gallary-wrap gallery-scroll-direction-ltr">
        <div class="gallery-scroll-wrap align-items-start">
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/post-8.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/post-8.png" alt="Gallery image"></a>
            </div>
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/post-3.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/post-3.png" alt="Gallery image"></a>
            </div>
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/blog-details-img-1.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/blog-details-img-1.png" alt="Gallery image"></a>
            </div>
            <div class="gallary-scroll-item">
                <a href="assets/img/blog/blog-details-img-2.png" class="venobox" data-gall="gallary1"><img src="assets/img/blog/blog-details-img-2.png" alt="Gallery image"></a>
            </div>
        </div>
    </div>
    <div class="container container-2">
        <div class="gallery-view-btn text-center">
            <a href="gallery.html" class="tl-primary-btn">View Gallery <span class="icon"><i class="fa-regular fa-arrow-right"></i></span></a>
        </div>
    </div>
</div>