<section class="feature-section pt-150 pb-110 tl-bg-color fade-wrapper">
    <div class="container container-2">
        <div class="row section-heading-wrap fade-top feature-top">  
            <div class="shape"><img src="assets/img/shapes/section-heading.png" alt="shape" data-parallax="40"></div>
            <div class="col-lg-4 col-md-12">
                <div class="section-heading mb-0">
                    <h4 class="sub-heading" data-text-animation="fade-in-right" data-split="char" data-duration="0.9" data-stagger="0.03">Our Services</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="section-heading section-heading-2 mb-0">
                    <h2 class="section-title cursor-effect title-2">Explore our <span>comprehensive <br> interior design</span> services</h2>
                    <p class="mb-0">From private homes to offices, retail, and outdoor spaces, we design interiors that are practical, refined, and built around how you live and work.</p>
                </div>
            </div>
        </div>
        <div class="row feature-scroll-row">
            <div class="col-lg-6">
                <div class="feature-item-imgs">
                    <div class="feature-img">
                        <img src="assets/img/service/feature-img-1.png" alt="feature">
                        <div class="img-content">
                            <p>Room makeovers and full home transformations planned around how you live.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-list-window">
                <div class="feature-item-list feature-item-list-1">
                    <div class="feature-item" data-img="assets/img/service/service-img-1.png" data-text="Room makeovers and full home transformations planned around how you live.">
                        <span class="number">01</span>
                        <h3 class="title"><a href="service-details.html">Residential Interior Design</a></h3>
                        <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-item"  data-img="assets/img/service/service-img-2.png" data-text="Offices, retail floors, and hospitality spaces designed to work for staff and guests.">
                        <span class="number">02</span>
                        <h3 class="title"><a href="service-details.html">Commercial Interior Design</a></h3>
                        <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-item"  data-img="assets/img/service/service-img-3.png" data-text="Advice on layout, color, materials, and finishes before you start the work.">
                        <span class="number">03</span>
                        <h3 class="title"><a href="service-details.html">Interior Design Consultation</a></h3>
                        <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-item"  data-img="assets/img/service/service-img-4.png" data-text="Gardens, patios, terraces, and decks planned as an extension of the interior.">
                        <span class="number">04</span>
                        <h3 class="title"><a href="service-details.html">Outdoor & Landscape Design</a></h3>
                        <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-item"  data-img="assets/img/service/service-img-5.png" data-text="Existing rooms updated so they look current and function better every day.">
                        <span class="number">05</span>
                        <h3 class="title"><a href="service-details.html">Renovation and Remodeling</a></h3>
                        <a href="service-details.html" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>