<section class="slider-section overflow-hidden">
    <div class="sorath-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="bg-img" data-background="assets/img/bg-img/herobg1.webp" data-parallax-bg></div>
                    <div class="container slider-container">
                        <div class="slider-content-wrap">
                            <div class="slider-content">
                                <div class="slider-logo">
                                    <img src="assets/img/logo/logo.png" alt="iDbook">
                                </div>
                                <div class="section-heading white-content">
                                    <h4 class="sub-heading" data-animation="sorath-fadeInDown" data-delay="1000ms" data-duration="1400ms">FAST AND RELIABLE</h4>
                                    <h2 class="section-title cursor-effect slider-letter-title">The Art of Stunning <br> Interior Design</h2>
                                </div>
                                <div class="bottom-content">
                                    <div class="sorath-desc" data-animation="sorath-fadeInUp" data-delay="1000ms" data-duration="1400ms">
                                        <p>Whether it’s your home, office, or a commercial <br> project, we are always dedicated to bringing <br> your vision to life.</p>
                                    </div>
                                    <div class="sorath-btn"  data-animation="sorath-fadeInUp" data-delay="1200ms" data-duration="1400ms">
                                        <a href="contact.html" class="tl-primary-btn white-btn">Take counsel <span class="icon"><i class="fa-regular fa-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-element-wrap" data-animation="sorath-fadeInRight" data-delay="1300ms" data-duration="1300ms">
                        <div class="slider-element">
                            <h3 class="element-title">260+</h3>
                            <span>Successful projects <br> and counting</span>
                            <p>Tech Specifications <br>Design Project <br>3D visualisation</p>
                        </div>
                        <div class="slider-thumb">
                            <img src="assets/img/images/slider-thumb-1.png" alt="slider">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="bg-img" data-background="assets/img/bg-img/slider-img-2.png" data-parallax-bg></div>
                    <div class="container slider-container">
                        <div class="slider-content-wrap">
                            <div class="slider-content">
                                <div class="slider-logo">
                                    <img src="assets/img/logo/logo.png" alt="iDbook">
                                </div>
                                <div class="section-heading white-content">
                                    <h4 class="sub-heading" data-animation="sorath-fadeInDown" data-delay="1000ms" data-duration="1400ms">FAST AND RELIABLE</h4>
                                    <h2 class="section-title cursor-effect slider-letter-title">The Art of Stunning <br> Interior Design</h2>
                                </div>
                                <div class="bottom-content">
                                    <div class="sorath-desc" data-animation="sorath-fadeInUp" data-delay="1000ms" data-duration="1400ms">
                                        <p>Whether it’s your home, office, or a commercial <br> project, we are always dedicated to bringing <br> your vision to life.</p>
                                    </div>
                                    <div class="sorath-btn"  data-animation="sorath-fadeInUp" data-delay="1200ms" data-duration="1400ms">
                                        <a href="contact.html" class="tl-primary-btn white-btn">Take counsel <span class="icon"><i class="fa-regular fa-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-element-wrap" data-animation="sorath-fadeInRight" data-delay="1300ms" data-duration="1300ms">
                        <div class="slider-element">
                            <h3 class="element-title">260+</h3>
                            <span>Successful projects <br> and counting</span>
                            <p>Tech Specifications <br>Design Project <br>3D visualisation</p>
                        </div>
                        <div class="slider-thumb">
                            <img src="assets/img/images/slider-thumb-1.png" alt="slider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>