<section class="slider-section overflow-hidden">
    <div class="sorath-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-item">
                    <div class="bg-img" data-background="assets/img/bg-img/slider-img-1.png" data-parallax-bg></div>
                    <div class="container">
                        <div class="row align-items-lg-end">
                            <div class="col-lg-6 slider-content-wrap">
                                <div class="slider-content">
                                    <div class="slider-logo">
                                        <img src="assets/img/logo/logo.png" alt="iDbook">
                                    </div>
                                    <div class="section-heading white-content">
                                        <h4 class="sub-heading hero-kicker" data-animation="sorath-fadeInDown" data-delay="1000ms" data-duration="1400ms">ALL ABOUT YOU</h4>
                                        <h2 class="section-title slider-letter-title">The First Digital Hub for <span>Ready-to-Build CAD &amp; 3D Visuals.</span></h2>
                                    </div>
                                    <div class="bottom-content">
                                        <div class="sorath-desc" data-animation="sorath-fadeInUp" data-delay="1000ms" data-duration="1400ms">
                                            <p>Whether it’s your home or office project,<br>Start simply search & buy <br> Whats you need & as per your size.</p>
                                        </div>
                                        <div class="sorath-btn">
                                            <a href="shop.html" class="tl-primary-btn white-btn" data-animation="sorath-fadeInUp" data-delay="1200ms" data-duration="1400ms">Shop Now <span class="icon"><i class="fa-regular fa-arrow-right"></i></span></a>
                                            <a href="contact.html" class="hero-float" aria-label="Design With Us">
                                                <span class="design-float-icon"><i class="fa-regular fa-compass-drafting"></i></span>
                                                <span class="design-float-label">Design With Us</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-lg-end">
                                <div class="slider-element-wrap" data-animation="sorath-fadeInRight" data-delay="1300ms" data-duration="1300ms">
                                    <div class="slider-thumb">
                                        <img src="assets/img/images/slider-thumb-1.png" alt="Interior design">
                                    </div>
                                    <div class="slider-thumb">
                                        <img src="assets/img/bg-img/herobg1.png" alt="Interior design">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>