<section class="testimonial-section bg-white pt-150">
    <div class="container container-2">
        <div class="row section-heading-wrap">  
            <div class="shape"><img src="assets/img/shapes/section-heading.png" alt="shape"></div>
            <div class="col-lg-4 col-md-12">
                <div class="section-heading mb-0">
                    <h4 class="sub-heading" data-text-animation="fade-in-right" data-split="char" data-duration="0.9" data-stagger="0.03">Owr clients say</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="section-heading section-heading-2 mb-0">
                    <h2 class="section-title title-2">Here’s What <span>warm words <br> our clients</span> say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="testi-carousel-wrap">
                    <div class="testi-carousel swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <p>“A wonderful experience! They knew what they were doing and were incredibly knowledgeable throughout the process."</p>
                                    <div class="testi-author">
                                        <div class="author-img">
                                            <img src="assets/img/testi/testi-author-1.png" alt="author">
                                        </div>
                                        <h4 class="name">Morgan Dufresne <span>Company Owner</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <p>“Our new living room feels bigger, brighter and truly ours. Every detail was planned with so much care."</p>
                                    <div class="testi-author">
                                        <div class="author-img">
                                            <img src="assets/img/testi/testi-author-1.png" alt="author">
                                        </div>
                                        <h4 class="name">Priya Sharma <span>Homeowner</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <p>“They finished our office interior on time and on budget. The team was friendly and very professional."</p>
                                    <div class="testi-author">
                                        <div class="author-img">
                                            <img src="assets/img/testi/testi-author-1.png" alt="author">
                                        </div>
                                        <h4 class="name">Rahul Mehta <span>Startup Founder</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <p>“The modular kitchen they designed is both beautiful and practical. Cooking has become a joy again!"</p>
                                    <div class="testi-author">
                                        <div class="author-img">
                                            <img src="assets/img/testi/testi-author-1.png" alt="author">
                                        </div>
                                        <h4 class="name">Anjali Verma <span>Homemaker</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <p>“From the first sketch to the final handover, everything was smooth. Highly recommend IDbook to everyone."</p>
                                    <div class="testi-author">
                                        <div class="author-img">
                                            <img src="assets/img/testi/testi-author-1.png" alt="author">
                                        </div>
                                        <h4 class="name">David Wilson <span>Architect</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <p>“Our bedroom makeover turned out better than we imagined. Great ideas, quality work and clean finishing."</p>
                                    <div class="testi-author">
                                        <div class="author-img">
                                            <img src="assets/img/testi/testi-author-1.png" alt="author">
                                        </div>
                                        <h4 class="name">Neha Kapoor <span>Doctor</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-nav">
                        <button type="button" class="testi-prev" aria-label="Previous testimonial"><i class="fa-regular fa-arrow-left"></i></button>
                        <div class="testi-pagination"></div>
                        <button type="button" class="testi-next" aria-label="Next testimonial"><i class="fa-regular fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

