<section class="about-section-2 pt-130 pb-130">
    <div class="shape-1"><img src="assets/img/shapes/about-shape-1.png" alt="shape"></div>
    <div class="container container-2">
        <div class="row about-wrap-2">
            <div class="col-lg-8">
                <div class="about-content-left">
                    <div class="section-heading">
                        <h4 class="sub-heading" data-text-animation="fade-in-right" data-split="char" data-duration="0.9" data-stagger="0.03">Started In 1991</h4>
                        <h2 class="section-title title-2">We Shape <span>Interior Designs, <br> Crafting Timeless</span> and Inspiring <br> Spaces</h2>
                    </div>
                    <div class="about-counter-wrap">
                        <div class="counter-content">
                            <h3 class="title"><span class="odometer" data-count="26">0</span></h3>
                            <p>Years of <br> experience</p>
                        </div>
                        <div class="counter-img">
                            <img src="assets/img/images/about-img-2.png" alt="counter">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-content-right">
                    <div class="about-img-1 about-img">
                        <div class="sorath-panoroma-container">
                            <div class="sorath-panoroma-img" data-img="assets/img/bg-img/virtual-tours.png"></div>
                            <div class="pano-move-hint">
                                <span class="pano-hand" aria-hidden="true">
                                    <i class="fa-solid fa-arrow-left"></i>
                                    <i class="fa-solid fa-hand"></i>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="about-desc">
                        <p>We believe that every space has the power to inspire, and that great design brings. Our mission is to craft environments that stir creativity, evoke emotion, and reflect the essence of those who inhabit them.</p>
                        <div class="about-btn">
                            <a href="contact.html" class="tl-primary-btn">Contact Us <span class="icon"><i class="fa-regular fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
