<section class="gallary-section-2 pb-130 overflow-hidden">
    <div class="bg-img" data-background="assets/img/bg-img/gallary-bg-1.png"></div>
    <div class="container container-2">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="gallary-left-content">
                    <div class="section-heading white-content mb-0">
                        <h4 class="sub-heading" data-text-animation="fade-in-right" data-split="char" data-duration="0.9" data-stagger="0.03">our gallery</h4>
                        <h2 class="section-title">Interior <br>design</h2>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur. <br> Magna nunc porttitor convallis faucibus <br> laoreet.</p>
                        <div class="mt-30">
                            <a href="gallery.html" class="tl-primary-btn">View Gallery <span class="icon"><i class="fa-regular fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="gallary-carousel-wrap">
                    <div class="gallary-carousel swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallary-inner-item">
                                    <a href="about.html"><img src="assets/img/images/gallary-img-1.png" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallary-inner-item">
                                    <a href="about.html"><img src="assets/img/images/gallary-img-2.png" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallary-inner-item">
                                    <a href="about.html"><img src="assets/img/images/gallary-img-3.png" alt="img"></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallary-inner-item">
                                    <a href="about.html"><img src="assets/img/images/gallary-img-4.png" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-arrow">
                        <div class="swiper-nav swiper-prev"><i class="fa-regular fa-arrow-left"></i></div>
                        <div class="swiper-nav swiper-next"><i class="fa-regular fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
