<section class="history-section pt-130 pb-130">
    <div class="container container-2">
        <div class="row section-heading-wrap ml-0 mw-100">
            <div class="shape"><img src="assets/img/shapes/section-heading.png" alt="shape"></div>
            <div class="col-lg-4 col-md-12">
                <div class="section-heading mb-0">
                    <h4 class="sub-heading">our History</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="section-heading section-heading-2 mb-0">
                    <h2 class="section-title title-2">Our history <span>is full of <br> interesting</span> stages <br> and events.</h2>
                </div>
            </div>
        </div>
        <div class="history-carousel-wrap">
            <div class="history-carousel swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="history-item">
                            <div class="history-img">
                                <img src="assets/img/images/history-img-1.png" alt="history">
                            </div>
                            <div class="history-content">
                                <div class="circle"></div>
                                <h3 class="title"><a href="about.html">2025</a></h3>
                                <p>Celebrates 15 years with a retrospective showcase of the company’s projects and milestones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history-item">
                            <div class="history-img">
                                <img src="assets/img/images/history-img-1.png" alt="history">
                            </div>
                            <div class="history-content">
                                <div class="circle"></div>
                                <h3 class="title"><a href="about.html">2025</a></h3>
                                <p>Celebrates 15 years with a retrospective showcase of the company’s projects and milestones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history-item">
                            <div class="history-img">
                                <img src="assets/img/images/history-img-1.png" alt="history">
                            </div>
                            <div class="history-content">
                                <div class="circle"></div>
                                <h3 class="title"><a href="about.html">2025</a></h3>
                                <p>Celebrates 15 years with a retrospective showcase of the company’s projects and milestones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history-item">
                            <div class="history-img">
                                <img src="assets/img/images/history-img-1.png" alt="history">
                            </div>
                            <div class="history-content">
                                <div class="circle"></div>
                                <h3 class="title"><a href="about.html">2025</a></h3>
                                <p>Celebrates 15 years with a retrospective showcase of the company’s projects and milestones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history-item">
                            <div class="history-img">
                                <img src="assets/img/images/history-img-1.png" alt="history">
                            </div>
                            <div class="history-content">
                                <div class="circle"></div>
                                <h3 class="title"><a href="about.html">2025</a></h3>
                                <p>Celebrates 15 years with a retrospective showcase of the company’s projects and milestones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="history-item">
                            <div class="history-img">
                                <img src="assets/img/images/history-img-1.png" alt="history">
                            </div>
                            <div class="history-content">
                                <div class="circle"></div>
                                <h3 class="title"><a href="about.html">2025</a></h3>
                                <p>Celebrates 15 years with a retrospective showcase of the company’s projects and milestones.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history-nav">
                <button type="button" class="history-prev" aria-label="Previous"><i class="fa-regular fa-arrow-left"></i></button>
                <button type="button" class="history-next" aria-label="Next"><i class="fa-regular fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>
