<section class="idb-mvv">
    <div class="container container-2">
        <div class="row section-heading-wrap">
            <div class="shape"><img src="assets/img/shapes/section-heading.png" alt="shape"></div>
            <div class="col-lg-4 col-md-12">
                <div class="section-heading mb-0">
                    <h4 class="sub-heading" data-text-animation="fade-in-right" data-split="char" data-duration="0.9" data-stagger="0.03">What drives us</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="section-heading section-heading-2 mb-0">
                    <h2 class="section-title title-2">Our <span>mission, vision <br> and</span> values</h2>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="mvv-card">
                    <span class="mvv-icon"><i class="fa-regular fa-bullseye-arrow"></i></span>
                    <h3 class="mvv-title">Our Mission</h3>
                    <p>To make great interior design simple and accessible, turning every client's idea into a complete, ready-to-build design they love.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="mvv-card">
                    <span class="mvv-icon"><i class="fa-regular fa-eye"></i></span>
                    <h3 class="mvv-title">Our Vision</h3>
                    <p>To become the most trusted design partner for homes and workspaces, known for creative ideas, quality and a smooth experience.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="mvv-card">
                    <span class="mvv-icon"><i class="fa-regular fa-gem"></i></span>
                    <h3 class="mvv-title">Our Values</h3>
                    <ul class="mvv-list">
                        <li>Client first, always</li>
                        <li>Creativity with purpose</li>
                        <li>Honest and transparent work</li>
                        <li>Quality in every detail</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

