.post-card {
    position: relative;
    overflow: hidden
}

.post-card .post-thumb {
    position: relative;
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 24px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.post-card .post-thumb:after {
    background: rgba(255,255,255,.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 51%;
    top: 0;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease
}

.post-card .post-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out
}

.post-card .post-thumb .category {
    font-family: var(--tl-ff-heading);
    background-color: var(--tl-color-theme-primary);
    color: var(--tl-color-common-white);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    display: inline-block;
    padding: 3px 12px;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: capitalize
}


.post-card .post-content .title a {
    background: linear-gradient(var(--tl-color-theme-primary) 0%, var(--tl-color-theme-primary) 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.post-card .post-content .title a:hover {
    color: var(--tl-color-theme-primary);
    background-size: 100% 2px
}

.post-card .post-content p {
    max-width: 393px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 0
}

.post-card:hover .post-thumb:after {
    left: 0;
    right: 0;
    opacity: 0
}

.post-card:hover .post-thumb img {
    transform: scale(1.04) rotate(0deg)
}

.post-meta {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px
}

.post-meta li {
    font-family: var(--tl-ff-body);
    color: var(--tl-color-grey-2);
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    line-height: 1
}

.post-meta li i {
    font-size: 14px
}

.post-meta li:not(:last-of-type) {
    margin-right: 15px
}

.post-meta li a:hover {
    color: var(--tl-color-theme-primary)
}

.post-meta li span {
    color: var(--tl-color-theme-primary);
    padding-left: 5px
}

.post-card-2 .post-thumb {
    height: 500px
}

.post-card-2 .post-content p {
    max-width: 608px;
    width: 100%
}

.inner-post:not(:last-of-type) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(159,159,164,.24)
}

.inner-post .post-thumb {
    height: 500px;
    margin-bottom: 30px;
    border-radius: 16px;
    overflow: hidden
}

.inner-post .post-content ul .category {
    font-family: var(--tl-ff-heading);
    background-color: var(--tl-color-theme-primary);
    color: var(--tl-color-common-white);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    display: inline-block;
    padding: 3px 12px;
    border-radius: 100px;
    text-transform: capitalize
}

.inner-post .post-content .title {
    font-weight: 400;
    max-width: 725px;
    width: 100%
}

.inner-post .post-content p {
    max-width: 880px;
    width: 100%
}

.blog-details-img {
    width: 100%;
    height: 520px
}

.blog-details-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 24px
}

.blog-details-wrap {
    max-width: 930px;
    width: 100%
}

.blog-details-wrap .inner-post {
    padding-bottom: 0;
    border: none
}

.blog-details-wrap .inner-post .post-content .title {
    font-family: var(--tl-ff-heading);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0
}

.blog-details-content p {
    font-size: 16px
}

.blog-details-content .details-title-2 {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 20px
}

.blog-details-content .blog-points {
    list-style: none;
    margin: 0 0 36px;
    padding: 0
}

.blog-details-content .blog-points li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 14px;
    line-height: 1.7
}

.blog-details-content .blog-points li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--tl-color-theme-primary)
}

.blog-details-content .details-img-wrap {
    max-width: 930px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 24px
}

.blog-details-content .details-img-wrap img {
    height: 310px;
    width: 100%;
    object-fit: cover;
    border-radius: 24px
}

.comments-area .section-heading {
    margin-bottom: 40px
}

.comments-area .section-heading .section-title {
    font-size: 50px
}

.blog-contact-form .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px
}

.blog-contact-form .request-form .form-item {
    position: relative
}

.blog-contact-form .request-form .form-item .form-control {
    background-color: var(--tl-color-common-white);
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    box-shadow: none;
    border: 1px solid rgba(159,159,164,.24);
    padding: 16.5px 55px 16.5px 20px;
    border-radius: 24px;
    margin-bottom: 25px;
    width: 100%
}

.blog-contact-form .request-form .form-item .form-control::-webkit-input-placeholder {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400
}

.blog-contact-form .request-form .form-item .form-control:-moz-placeholder {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400
}

.blog-contact-form .request-form .form-item .form-control::-moz-placeholder {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400
}

.blog-contact-form .request-form .form-item .form-control:-ms-input-placeholder {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400
}

.blog-contact-form .request-form .form-item .icon {
    color: var(--tl-color-theme-primary);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%)
}

.blog-contact-form .request-form .form-item.message-item .icon {
    top: 25px
}

@media (max-width: 992px) {
.post-card-2 .post-thumb {
        height:350px
    }

.inner-post .post-thumb {
        height:400px
    }

.blog-details-img {
        height:400px
    }

.blog-details-content {
        margin-bottom:40px
    }

.blog-details-content .details-title-2 {
        font-size:30px
    }
}

@media (max-width: 767px) {
.post-meta li {
        font-size:12px
    }

.inner-post .post-thumb {
        height:300px
    }

.blog-details-img {
        height:300px
    }

.comments-area .section-heading .section-title {
        font-size:30px
    }
}
