.gallary-section {
    padding-top: 250px;
    padding-bottom: 130px;
    position: relative;
    z-index: 1
}

.gallary-wrap {
    overflow: hidden;
    display: flex
}

.gallary-wrap .gallery-scroll-wrap {
    display: flex;
    gap: 30px;
    padding: 0;
    will-change: transform;
    align-items: flex-end
}

.gallary-wrap.gallery-scroll-direction-ltr {
    justify-content: flex-end
}

.gallary-wrap.wrap-1 {
    margin-bottom: 40px
}

.gallary-scroll-item {
    flex: 0 0 auto;
    width: 380px;
    height: 200px;
    overflow: hidden;
    transition: transform .3s linear
}

.gallery-scroll-wrap .gallary-scroll-item:nth-child(3n+2) {
    width: 480px;
    height: 280px
}

.gallery-scroll-wrap .gallary-scroll-item:nth-child(3n+3) {
    width: 680px;
    height: 360px
}

.gallery-scroll-wrap .gallary-scroll-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    border-radius: 10px
}

.gallary-section-2 {
    position: relative;
    z-index: 1;
    padding-top: 388px
}

.gallary-section-2 .bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.gallary-section-2 .bg-img:before {
    background-color: var(--tl-color-common-black);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .46
}

.gallary-carousel-wrap {
    clip-path: inset(-100% -100% -100% 0);
    overflow: visible
}

.gallary-carousel-wrap .swiper-arrow {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 40px
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav {
    background-color: var(--tl-color-theme-primary);
    color: var(--tl-color-common-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid var(--tl-color-theme-primary)
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav i {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav:hover {
    background-color: rgba(216,218,223,.13);
    border: 1px solid rgba(255,255,255,.09)
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav.swiper-prev:hover i {
    transform: rotate(45deg)
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav.swiper-next:hover i {
    transform: rotate(-45deg)
}

.gallary-carousel {
    overflow: visible
}

.gallary-inner-item a {
    height: 360px;
    display: block
}

.gallary-inner-item a img {
    width: 100%;
    height: 100%;
    border-radius: 24px
}

.gallary-section-2 {
    position: relative;
    z-index: 1
}

.gallary-section-2 .bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.gallary-section-2 .bg-img:before {
    background-color: var(--tl-color-common-black);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .46
}

.gallary-carousel-wrap {
    clip-path: inset(-100% -100% -100% 0);
    overflow: visible
}

.gallary-carousel-wrap .swiper-arrow {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 40px
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav {
    background-color: var(--tl-color-theme-primary);
    color: var(--tl-color-common-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid var(--tl-color-theme-primary)
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav i {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav:hover {
    background-color: rgba(216,218,223,.13);
    border: 1px solid rgba(255,255,255,.09)
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav.swiper-prev:hover i {
    transform: rotate(45deg)
}

.gallary-carousel-wrap .swiper-arrow .swiper-nav.swiper-next:hover i {
    transform: rotate(-45deg)
}

.gallary-carousel {
    overflow: visible
}

.gallary-inner-item a {
    height: 360px;
    display: block
}

.gallary-inner-item a img {
    width: 100%;
    height: 100%;
    border-radius: 24px
}

.gallary-inner-top {
    margin-bottom: 24px
}

.gallary-inner-item-2 a {
    height: 477px;
    width: 100%
}

.gallary-inner-item-2 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px
}

.gallary-inner-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}

.gallary-inner-items .gallary-inner-item-2 a {
    height: 225px;
    width: 100%
}

.gallary-inner-items .gallary-inner-item-2 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px
}

@media (max-width: 992px) {
.gallary-scroll-item {
        width:280px;
        height: 200px
    }

.gallery-scroll-wrap .gallary-scroll-item:nth-child(3n+2) {
        width:280px;
        height: 200px
    }

.gallery-scroll-wrap .gallary-scroll-item:nth-child(3n+3) {
        width:480px;
        height: 300px
    }

.gallary-section-2 {
        padding-top:70px
    }

.gallary-section-2 .gallary-carousel-wrap {
        margin-top: 48px
    }
}

@media (max-width: 767px) {
.gallary-section {
        padding:70px 0
    }

.gallary-wrap .gallery-scroll-wrap {
        gap:10px
    }

.gallary-wrap.wrap-1 {
        margin-bottom:10px
    }

.gallary-scroll-item {
        width:100px;
        height: 50px
    }

.gallery-scroll-wrap .gallary-scroll-item:nth-child(3n+2) {
        width:80px;
        height: 50px
    }

.gallery-scroll-wrap .gallary-scroll-item:nth-child(3n+3) {
        width:120px;
        height: 80px
    }
}
