<div id="sidebar-area" class="sidebar-area">
    <button class="sidebar-trigger close">
        <svg
            class="sidebar-close"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="16px"
            height="12.7px"
            viewBox="0 0 16 12.7"
            style="enable-background: new 0 0 16 12.7"
            xml:space="preserve">
            <g>
                <rect
                    x="0"
                    y="5.4"
                    transform="matrix(0.7071 -0.7071 0.7071 0.7071 -2.1569 7.5208)"
                    width="16"
                    height="2"
                ></rect>
                <rect
                    x="0"
                    y="5.4"
                    transform="matrix(0.7071 0.7071 -0.7071 0.7071 6.8431 -3.7929)"
                    width="16"
                    height="2"
                ></rect>
            </g>
        </svg>
    </button>
    <div class="side-menu-content">
        <div class="side-menu-logo">
            <a class="dark-img" href="index-2.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
            <a class="light-img" href="index-2.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
        </div>
        <div class="side-menu-wrap"></div>
        <div class="side-menu-about">
            <h4 class="title">We Shape Interior Designs, Crafting Timeless and Inspiring Spaces</h4>
        </div>
        <div class="side-menu-gallary">
            <div class="side-menu-gallary-item">
                <a href="assets/img/project/sidebar-gallary-1.png" class="venobox" data-gall="gallary1"><img src="assets/img/project/sidebar-gallary-1.png" alt="img"></a>
            </div>
            <div class="side-menu-gallary-item">
                <a href="assets/img/project/sidebar-gallary-2.png" class="venobox" data-gall="gallary1"><img src="assets/img/project/sidebar-gallary-2.png" alt="img"></a>
            </div>
            <div class="side-menu-gallary-item">
                <a href="assets/img/project/sidebar-gallary-3.png" class="venobox" data-gall="gallary1"><img src="assets/img/project/sidebar-gallary-3.png" alt="img"></a>
            </div>
            <div class="side-menu-gallary-item">
                <a href="assets/img/project/sidebar-gallary-4.png" class="venobox" data-gall="gallary1"><img src="assets/img/project/sidebar-gallary-4.png" alt="img"></a>
            </div>
            <div class="side-menu-gallary-item">
                <a href="assets/img/project/sidebar-gallary-5.png" class="venobox" data-gall="gallary1"><img src="assets/img/project/sidebar-gallary-5.png" alt="img"></a>
            </div>
            <div class="side-menu-gallary-item">
                <a href="assets/img/project/sidebar-gallary-6.png" class="venobox" data-gall="gallary1"><img src="assets/img/project/sidebar-gallary-6.png" alt="img"></a>
            </div>
        </div>
        <div class="side-menu-contact">
            <ul class="side-menu-list">
                <li>
                    5609 E Sprague Ave, <br>Spokane Valley, WA 99212,<br> USA
                </li>
                <li>
                    <a href="tel:+0844560789">+(084) 456-0789</a>
                </li>
                <li>
                    <a class="mail" href="mailto:support@example.com">support@example.com</a>
                </li>
            </ul>
        </div>
        <ul class="side-menu-social">
            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="g-plus"><a href="#"><i class="fab fa-fab fa-google-plus"></i></a></li>
        </ul>
    </div>
</div>

<div id="sidebar-overlay"></div>