<footer class="footer-section overflow-hidden">
    <div class="footer-bg" data-background="assets/img/bg-img/footer-bg.png"></div>
    <div class="footer-shade"></div>
    <div class="container container-2">
        <div class="row footer-wrap">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="widget-header">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <p class="mb-10">We transform your vision into beautifully <br> crafted spaces.</p>
                    <p class="mb-0">5609 E Sprague Ave, Spokane Valley, <br> WA 99212, USA</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-col-2">
                    <ul class="footer-list">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="service.html">Shop</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-col-2 pl-0">
                    <ul class="footer-list">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="profile.html">My Account</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="footer-address">
                        <a class="number" href="tel:+0844560789">+(084) 456-0789</a>
                        <a class="mail" href="tel:">support@example.com</a>
                        <ul class="social-list social-icons">
                            <li><a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#" aria-label="Pinterest"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-content">
                <p>© 2026 IDbook. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <div class="footer-text"><span data-include="component/logoftr.html"></span></div>
</footer>

