<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">

<!-- Site Title -->
<title>IDbook</title>

<!-- Place favicon.ico in the root directory -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap">

<!-- CSS here -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/css/venobox.min.css">
<link rel="stylesheet" href="assets/css/odometer.min.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/carouselTicker.css">
<link rel="stylesheet" href="assets/css/animation.css">
<link rel="stylesheet" href="assets/css/twentytwenty.min.css">
<link rel="stylesheet" href="assets/css/swiper.min.css">
<link rel="stylesheet" href="assets/css/base.css">
<link rel="stylesheet" href="assets/css/sections/loader.css">
<link rel="stylesheet" href="assets/css/sections/header.css">
<link rel="stylesheet" href="assets/css/sections/search.css">
<link rel="stylesheet" href="assets/css/sections/sidebar.css">
<link rel="stylesheet" href="assets/css/sections/slider.css">
<link rel="stylesheet" href="assets/css/sections/services.css">
<link rel="stylesheet" href="assets/css/sections/product.css">
<link rel="stylesheet" href="assets/css/sections/gallery.css">
<link rel="stylesheet" href="assets/css/sections/counter.css">
<link rel="stylesheet" href="assets/css/sections/about.css">
<link rel="stylesheet" href="assets/css/sections/cta.css">
<link rel="stylesheet" href="assets/css/sections/testimonials.css">
<link rel="stylesheet" href="assets/css/sections/blog.css">
<link rel="stylesheet" href="assets/css/sections/video.css">
<link rel="stylesheet" href="assets/css/sections/newsletter.css">
<link rel="stylesheet" href="assets/css/sections/faq.css">
<link rel="stylesheet" href="assets/css/sections/contact.css">
<link rel="stylesheet" href="assets/css/sections/shop.css">
<link rel="stylesheet" href="assets/css/sections/wishlist.css">
<link rel="stylesheet" href="assets/css/sections/shop-details.css">
<link rel="stylesheet" href="assets/css/sections/page-header.css">
<link rel="stylesheet" href="assets/css/sections/footer.css">
<link rel="stylesheet" href="assets/css/sections/float.css">
<link rel="stylesheet" href="assets/css/sections/scroll.css">
<link rel="stylesheet" href="assets/css/sections/process.css">
<link rel="stylesheet" href="assets/css/sections/pages.css">
<link rel="stylesheet" href="assets/css/sections/auth.css">
<link rel="stylesheet" href="assets/css/sections/account.css">
<link rel="stylesheet" href="assets/css/sticky-header.css?v=34">
