<!-- preloader -->
<div class="preloader overflow-hidden">
    <div class="site-name"><img class="site-logo" src="assets/img/logo/logo.png" alt="iDbook"></div>
    <div class="preloader-gutters">
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
    </div>
</div>
<!-- /.preloader -->
