<div class="mobile-side-menu">
    <div class="side-menu-content">
        <div class="side-menu-head">
            <a href="index-2.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
            <button class="mobile-side-menu-close"><i class="fa-regular fa-xmark"></i></button>
        </div>
        <div class="side-menu-wrap"></div>
        <div class="side-menu-contact">
            <div class="side-menu-header">
                <h3>Contact Us</h3>
            </div>
            <ul class="side-menu-list">
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Valentin, Street Road 24, New York, </p>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+000123456789">+000 123 (456) 789</a>
                </li>
                <li>
                    <i class="fas fa-envelope-open-text"></i>
                    <a href="mailto:sorath@gmail.com">sorath@gmail.com</a>
                </li>
            </ul>
        </div>
        <ul class="side-menu-social">
            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="g-plus"><a href="#"><i class="fab fa-fab fa-google-plus"></i></a></li>
        </ul>
    </div>
</div>

<div class="mobile-side-menu-overlay"></div>